{% extends 'userbase.html' %}
{% load static %}
{% block user %}

<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">User Orders</h1>
    </div>
    {% for order in orderitems %}
<table class="table">
    <tr class="table-primary">
        <th> Order ID: {{order.first.id}} </th>
        <th> Total Amount : {{order.first.order.total_amount}} </th>
        <th colspan="2" class="text-end"> Ordered At: {{order.first.order.ordered_at}} </th>
    </tr> 
    <tr class="table-success">
        <th>S.No</th>
        <th>Book Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    {% for oi in order %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ oi.book.title }}</td>    
        <td>{{ oi.quantity }}</td>
        <td>&#8377; {{ oi.book.price }}</td>
    </tr>

{% endfor %}
</table>
<hr>
{% endfor %}
</div>
{% endblock %}
