{% extends 'adminbase.html' %}
{% block admin %}

<div class="row">
    <div class="col-sm-12">
        <h1>Welcome Admin</h1>
    </div>
    <div class="col-sm-9 mx-auto">
        <div class="card p-5 mt-4 shadow">
            <form method="post">
                {% csrf_token %}
                 <h3 class="text-center">Change Password</h3>
                <label for="em"> E mail</label>
                <input type="email" name="email" class="form-control" id="em" required>

                <br>

                <label for="no.">Number</label>
                <input type="number" name="number" class="form-control" id="no." required>


                <br>

                <label for="op">Old password</label>
                <input type="password" name="password" class="form-control" id="op" required>

                <br>

                <label for="np">New password</label>
                <input type="new password" name="new password" class="form-control" id="np"required>

                <br>

                <label for="cp">Confirm password</label>
                <input type="confirm password" name="confirm password" class="form-control" id="cp" required>

                <br>

                <button type="submit" class="btn btn-primary w-100">Confirm</button>

            </form>
        </div>

    </div>
</div>

{% endblock %}
