{% extends 'adminbase.html' %}
{% block admin %}
<div class="row">
    <div class="col-sm-12">
        <h1>View Enquiries</h1>
        <h3>Welcome Admin</h3>
        <table class="table">
            <tr>
                <th>S.No</th>
                <th>name</th>
                <th>email</th>
                <th>contact</th>
                <th>subject</th>
                <th>message</th>
                <th>Enquiry Date</th>
                <th>Action</th>
            </tr>
            {% for e in enqs %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{e.name}}</td>
                <td>{{e.email}}</td>
                <td>{{e.contactno}}</td>
                <td>{{e.Subject}}</td>
                <td>{{e.message}}</td>
                <td>{{e.enqdate}}</td>
                <td>
                    <a href="#" class="btn btn-danger">
                        <i class="ti ti-trash">del</i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endblock %}
